---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/home/Hero'
import Values from '../components/about/Values'
import ProductShowcase from '../components/home/ProductShowcase'
import HeroCarousel from '../components/home/HeroCarousel'
import ProductsAndServices from '../components/services/ProductsAndServices'

---

<Layout>
	<div class="min-h-screen bg-eco-light">
		<main class="pt-20">
			<HeroCarousel client:load/>
			<!-- <Hero client:load/> -->
			<Values client:load/>
			<ProductShowcase client:load/>
			<ProductsAndServices client:load/>
		</main>
	</div>
</Layout>
